<div class="container justify-content-center text-center">
  <h2 class="m-2">Toro Wine E-Sports 2024</h2>
  <h6 class="p-4 h6">
    Afrontamos este nuevo año con un Toro Wine totalmente renovado, con una idea
    de juego nueva y con pura sangre latina en nuestras filas, orgullosos de
    tener talento desde el norte hasta el sur, les ofreceremos la mejor
    situación de trabajo para que puedan desarrollar su juego de la mejor manera
    y llevarnos a nuestro primer campeonato.
  </h6>
  <section>
    <div class="card" style="width: 18rem; ">
      <p class="card-text text-dark">
        Agregar el metodo para traer el json de plantilla-lol.json con un for me
        parece
      </p>

      <h5 class="card-header text-bg-dark" style="background-image: url(assets/img/Triple\ Toro.jpg);">TOW El Tetu</h5>
      <img src="assets/Jugadores/Tetu.jpg" class="card-img-top" alt="..." />
      <div class="card-body text-dark" style="background-image: url(assets/img/Triple\ Toro.jpg);">
        <p class="text-white border-bottom">Nombre: Mateo Funes</p>
        <p class="text-white border-bottom">Fecha de Nacimiento: 23/10/1997</p>
        <p class="text-white border-bottom">Posicion: Medio</p>
        <p class="text-white border-bottom">Descripcion:</p>
        <a
          href="https://www.instagram.com/tutefunes/"
          target="_blank"
          class="text-white"
          rel="noopener noreferrer"
        >
          <i class="bx bxl-instagram"
            ><span class="text-white"> Instagram</span></i
          >
        </a>
      </div>
    </div>
  </section>
  <article class="m-4">
    <h4 class="h4 p-5">Jugadas del Equipo</h4>
    <video autoplay muted loop controls>
      <source src="assets/VideoToritoEsports.mp4" type="video/mp4" />
    </video>
  </article>
</div>
