:root {
  background-image: url('/assets/img/FondoWeb.png');
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-color: transparent;
}
*{
  color: #ffffff;
}