<div class="card container text-center">
  <div class="card-body">
    <h3 class="card-title">Seguinos!</h3>
    <section class="icon-footer">
      <a
        href="https://twitter.com/ToroWine"
        class="icon-footer"
        target="_blank"
      >
        <i class="bx bxl-twitter"></i>
      </a>

      <a
        href="https://www.instagram.com/torowine_/"
        class="icon-footer"
        target="_blank"
      >
        <i class="bx bxl-instagram"></i>
      </a>
    </section>
  </div>
  <div class="card-footer">
    <h6>Tobias Moreno 2024. Derechos Reservados</h6>
  </div>
</div>
